<div id="formVersionsViewContent">
	<br/>

	<div class="panel panel-default">
		<div class="panel-heading" role="tab" id="formVersionsPanelHeading">
			<h4 class="panel-title">
				<a data-toggle="collapse" href="#formVersionsPanelBody" aria-expanded="true" aria-controls="collapseOne"> Form Versions </a>
			</h4>
		</div>
		<div id="formVersionsPanelBody" class="panel-collapse collapse in" role="tabpanel" aria-labelledby="formVersionsPanelHeading">
			<div class="panel-body">
				<div id="formVersionsGrid"></div>
			</div>
		</div>
	</div>

</div>