<div id="eformsScratchpadContent">
	<br />
	<legend>Scratchpad</legend>

	<div class="panel panel-default">
		<div class="panel-heading" role="tab" id="scratchpadPanelHeading">
			<h4 class="panel-title">
				<a data-toggle="collapse" href="#scratchpadPanelBody" aria-expanded="true" aria-controls="collapseOne"> Test Content </a>
			</h4>
		</div>
		<div id="scratchpadPanelBody" class="panel-collapse collapse in" role="tabpanel" aria-labelledby="scratchpadPanelHeading">
			<div class="panel-body">
				<form action="#">

					<div class="form-group">
						<label>Checkboxes</label>
						<div class="checkbox">
						  <label>
						    <input type="checkbox" value="">
						    Option one is this and that
						  </label>
						</div>
						<div class="checkbox">
						  <label>
						    <input type="checkbox" value="">
						    Option two is also fun
						  </label>
						</div>
					</div>

					<div class="form-group">
						<label>Radio Buttons</label>
						<div class="radio">
						  <label>
						    <input type="radio" name="optionsRadios" id="optionsRadios1" value="option1" checked>
						    Option one is this and that&mdash;be sure to include why it's great
						  </label>
						</div>
						<div class="radio">
						  <label>
						    <input type="radio" name="optionsRadios" id="optionsRadios2" value="option2">
						    Option two can be something else and selecting it will deselect option one
						  </label>
						</div>
						<div class="radio disabled">
						  <label>
						    <input type="radio" name="optionsRadios" id="optionsRadios3" value="option3" disabled>
						    Option three is disabled
						  </label>
						</div>
					</div>

					<div class="form-group">
						<label>Text Input</label>
						<input type="text" class="form-control" placeholder="Text">
					</div>

					<div class="form-group">
						<label>Password Input</label>
						<input type="password" class="form-control" placeholder="Password">
					</div>

					<div class="form-group">
						<label>Date Input</label>
						<input type="date" class="form-control">
					</div>

					<div class="form-group">
						<label>Time Input</label>
						<input type="time" class="form-control">
					</div>

					<div class="form-group">
						<label>Static Value</label>
						<p class="form-control-static">email@example.com</p>
					</div>

					<div class="form-group">
						<label>Text Input w/ Instructions</label>
						<input id="input-with-help" type="text" class="form-control" placeholder="Text" aria-describedby="helpBlock">
						<span id="helpBlock" class="help-block">A block of help text that breaks onto a new line and may extend beyond one line.</span>
					</div>

					<div class="form-group">
						<label>Indicator Text Controls</label>
						<p class="text-muted">Hello</p>
						<p class="text-primary">Hello</p>
						<p class="text-success">Hello</p>
						<p class="text-info">Hello</p>
						<p class="text-warning">Hello</p>
						<p class="text-danger">Hello</p>
					</div>

					<div class="form-group">
						<label>Callouts</label>
						<div class="bs-callout bs-callout-muted">
							<h4>Muted</h4><p>Lorem ipsum...</p>
						</div>
						<div class="bs-callout bs-callout-primary">
							<h4>Primary</h4><p>Lorem ipsum...</p>
						</div>
						<div class="bs-callout bs-callout-success">
							<h4>Success</h4><p>Lorem ipsum...</p>
						</div>
						<div class="bs-callout bs-callout-info">
							<h4>Info</h4><p>Lorem ipsum...</p>
						</div>
						<div class="bs-callout bs-callout-warning">
							<h4>Warning</h4><p>Lorem ipsum...</p>
						</div>
						<div class="bs-callout bs-callout-danger">
							<h4>Danger</h4><p>Lorem ipsum...</p>
						</div>
					</div>

				</form>
			</div>
		</div>
	</div>

</div>